# Al agregar dependencias, guardar versión exacta (sin ^ o ~)
save-exact=true
save-prefix=""

# Usar y respetar el package-lock.json
package-lock=true

# Evitar ruidos
update-notifier=false
audit=false